USE [master]
GO
/****** REPORTE DE DIARIO DE MANTENIMIENTO DB   ******/
/****** RANDHY RINCON       16-MIIN-1-151    SECCION 04541    UNIV. O&M ******/
/****** NIGUEL ALMONTE      17-EIIN-1-182    SECCION 04541    UNIV. O&M ******/
/****** VLADIMIR ESPINAL    16-MIIN-1-121    SECCION 04541    UNIV. O&M ******/


CREATE DATABASE [REPORTE DE DIARIO DE MANTENIMIENTO]
 
USE [REPORTE DE DIARIO DE MANTENIMIENTO]
GO
USE [REPORTE DE DIARIO DE MANTENIMIENTO]
GO
/****** Object:  Table [dbo].[EQUIPOS]    Script Date: 8/4/2018 11:34:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPOS](
	[EQUIPO] [nvarchar](255) NOT NULL,
	[AREA] [nvarchar](255) NULL,
 CONSTRAINT [PK_EQUIPOS] PRIMARY KEY CLUSTERED 
(
	[EQUIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INCIDENCIA]    Script Date: 8/4/2018 11:34:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCIDENCIA](
	[ID INCIDENCIA] [int] NOT NULL,
	[HORA INICIO] [datetime] NULL,
	[EQUIPO] [nvarchar](255) NOT NULL,
	[INCIDENCIA] [nvarchar](255) NULL,
	[ACCION/CORRECCCION] [nvarchar](255) NULL,
	[TIPO TRABAJO] [nvarchar](255) NULL,
	[HORA FINAL] [datetime] NULL,
	[TIEMPO TOTAL] [datetime] NULL,
	[ID TURNO] [int] NULL,
 CONSTRAINT [PK_INCIDENCIA] PRIMARY KEY CLUSTERED 
(
	[ID INCIDENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNO]    Script Date: 8/4/2018 11:34:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNO](
	[ID TURNO] [int] NOT NULL,
	[FECHA] [datetime] NULL,
	[TURNO] [smallint] NULL,
	[MECANICO] [nvarchar](25) NULL,
	[SUPERVISOR] [nvarchar](25) NULL,
 CONSTRAINT [PK_TURNO] PRIMARY KEY CLUSTERED 
(
	[ID TURNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EQUIPOS] ([EQUIPO], [AREA]) VALUES (N'BARREDOR BS1', N'ALMACENAMIENTOS A GRANEL')
INSERT [dbo].[EQUIPOS] ([EQUIPO], [AREA]) VALUES (N'COMPUERTA C35', N'MOLIENDA')
INSERT [dbo].[EQUIPOS] ([EQUIPO], [AREA]) VALUES (N'DOSIFICADOR DE GRASA DC50', N'PREMEZCLA')
INSERT [dbo].[INCIDENCIA] ([ID INCIDENCIA], [HORA INICIO], [EQUIPO], [INCIDENCIA], [ACCION/CORRECCCION], [TIPO TRABAJO], [HORA FINAL], [TIEMPO TOTAL], [ID TURNO]) VALUES (1, NULL, N'ELEVADOR E40', N'CHUMACERA ROTA', N'CAMBIO DE CHUMACERA', N'CORRECTIVO', NULL, NULL, 1)
INSERT [dbo].[INCIDENCIA] ([ID INCIDENCIA], [HORA INICIO], [EQUIPO], [INCIDENCIA], [ACCION/CORRECCCION], [TIPO TRABAJO], [HORA FINAL], [TIEMPO TOTAL], [ID TURNO]) VALUES (2, NULL, N'DOSIFICADOR DE GRASA DC50', N'CORREA QUEMADA', N'CAMBIO DE CORREA', N'CORRECITIVO', NULL, NULL, 2)
INSERT [dbo].[INCIDENCIA] ([ID INCIDENCIA], [HORA INICIO], [EQUIPO], [INCIDENCIA], [ACCION/CORRECCCION], [TIPO TRABAJO], [HORA FINAL], [TIEMPO TOTAL], [ID TURNO]) VALUES (3, NULL, N'TRANSPORTADOR T54', N'CADENA ROTA', N'EMPAL DE CADENA', N'CORRECTIVO', NULL, NULL, 3)
INSERT [dbo].[TURNO] ([ID TURNO], [FECHA], [TURNO], [MECANICO], [SUPERVISOR]) VALUES (1, CAST(N'2018-04-03T00:00:00.000' AS DateTime), 2, N'NAIROBI REYES', N'DANIEL EMILIO')
INSERT [dbo].[TURNO] ([ID TURNO], [FECHA], [TURNO], [MECANICO], [SUPERVISOR]) VALUES (2, CAST(N'2018-03-02T00:00:00.000' AS DateTime), 1, N'JUAN SILVANO', N'MANUEL LINARES')
INSERT [dbo].[TURNO] ([ID TURNO], [FECHA], [TURNO], [MECANICO], [SUPERVISOR]) VALUES (3, CAST(N'2018-04-02T00:00:00.000' AS DateTime), 2, N'NAIROBI REYES', N'DANIEL EMILIO')
ALTER TABLE [dbo].[INCIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_INCIDENCIA_EQUIPOS] FOREIGN KEY([EQUIPO])
REFERENCES [dbo].[EQUIPOS] ([EQUIPO])
GO
ALTER TABLE [dbo].[INCIDENCIA] CHECK CONSTRAINT [FK_INCIDENCIA_EQUIPOS]
GO
ALTER TABLE [dbo].[INCIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_INCIDENCIA_TURNO] FOREIGN KEY([ID TURNO])
REFERENCES [dbo].[TURNO] ([ID TURNO])
GO
ALTER TABLE [dbo].[INCIDENCIA] CHECK CONSTRAINT [FK_INCIDENCIA_TURNO]
GO
USE [master]
GO
